<!-- Start Drawer -->
<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-dark-dodger-blue sidebar-left" data-perfect-scrollbar>
            <a href="fixed-index.html" class="sidebar-brand ">
                <span class="avatar avatar-xl sidebar-brand-icon h-auto"> <span
                        class="avatar-title rounded bg-primary"><img
                            src="assets/images/illustration/student/128/white.svg" class="img-fluid"
                            alt="logo" /></span> </span> <span>Luma</span> </a>
            <div class="sidebar-heading">Applications</div>
            <ul class="sidebar-menu">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#student_menu">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">school</span>
                        Student <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                    <ul class="sidebar-submenu collapse sm-indent" id="student_menu">
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="/"> <span
                                    class="sidebar-menu-text">Home</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-paths.html"> <span
                                    class="sidebar-menu-text">Browse Paths</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="/student-dashboard"> <span
                                    class="sidebar-menu-text">Student Dashboard</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-student-paths.html"> <span
                                    class="sidebar-menu-text">My Paths</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-student-path.html"> <span
                                    class="sidebar-menu-text">Path Details</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="student-take-quiz"> <span
                                    class="sidebar-menu-text">Take Quiz</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="student-quiz-results"> <span
                                    class="sidebar-menu-text">My Quizzes</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="student-quiz-result-details"> <span
                                    class="sidebar-menu-text">Quiz Result</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-student-path-assessment.html"> <span
                                    class="sidebar-menu-text">Skill Assessment</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-student-path-assessment-result.html"> <span
                                    class="sidebar-menu-text">Skill Result</span> </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#instructor_menu">
                        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">format_shapes</span>
                        Instructor <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                    <ul class="sidebar-submenu collapse sm-indent" id="instructor_menu">
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="/instructor/instructor-dash"> <span
                                    class="sidebar-menu-text">Instructor Dashboard</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="/instructor/instructor-courses"> <span
                                    class="sidebar-menu-text">Manage Courses</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="/instructor/instructor-quizzes"> <span
                                    class="sidebar-menu-text">Manage Quizzes</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="/instructor/instructor-edit-course"> <span
                                    class="sidebar-menu-text">Edit Course</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="/instructor/instructor-create-quiz"> <span
                                    class="sidebar-menu-text">Create Quiz</span> </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" data-toggle="collapse" href="#messaging_menu"> <span
                            class="material-icons sidebar-menu-icon sidebar-menu-icon--left">message</span>
                        Messaging <span
                            class="sidebar-menu-badge badge badge-accent badge-notifications ml-auto">2</span> <span
                            class="sidebar-menu-toggle-icon"></span> </a>
                    <ul class="sidebar-submenu collapse sm-indent" id="messaging_menu">
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-messages.html"> <span
                                    class="sidebar-menu-text">Messages</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-email.html"> <span
                                    class="sidebar-menu-text">Email</span> </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" data-toggle="collapse" href="#account_menu"> <span
                            class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                        Account <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                    <ul class="sidebar-submenu collapse sm-indent" id="account_menu">
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-login.html"> <span
                                    class="sidebar-menu-text">Login</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-signup.html"> <span
                                    class="sidebar-menu-text">Signup</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-reset-password.html"> <span
                                    class="sidebar-menu-text">Reset Password</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-change-password.html"> <span
                                    class="sidebar-menu-text">Change Password</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-edit-account.html"> <span
                                    class="sidebar-menu-text">Edit Account</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-edit-account-profile.html"> <span
                                    class="sidebar-menu-text">Profile &amp; Privacy</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-edit-account-notifications.html"> <span
                                    class="sidebar-menu-text">Email Notifications</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-edit-account-password.html"> <span
                                    class="sidebar-menu-text">Account Password</span> </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" data-toggle="collapse" href="#community_menu"> <span
                            class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                        Community <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                    <ul class="sidebar-submenu collapse sm-indent" id="community_menu">
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-teachers.html"> <span
                                    class="sidebar-menu-text">Browse Teachers</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-student-profile.html"> <span
                                    class="sidebar-menu-text">Student Profile</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-teacher-profile.html"> <span
                                    class="sidebar-menu-text">Teacher Profile</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-blog.html"> <span
                                    class="sidebar-menu-text">Blog</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-blog-post.html"> <span
                                    class="sidebar-menu-text">Blog Post</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-faq.html"> <span
                                    class="sidebar-menu-text">FAQ</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-help-center.html">
                                <!--  --> <span class="sidebar-menu-text">Help Center</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-discussions.html"> <span
                                    class="sidebar-menu-text">Discussions</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-discussion.html"> <span
                                    class="sidebar-menu-text">Discussion Details</span> </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="fixed-discussions-ask.html"> <span
                                    class="sidebar-menu-text">Ask Question</span> </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> 
</div>
<!-- // END drawer -->

