<div id="header" class="mdk-header mdk-header--bg-dark bg-dark js-mdk-header mb-0" data-effects="parallax-background waterfall" data-fixed data-condenses>
    <div class="mdk-header__bg">
        <div class="mdk-header__bg-front" style="background-image: url(assets/images/photodune-4161018-group-of-students-m.jpg);"></div>
    </div>
    <div class="mdk-header__content justify-content-center">
        <div class="navbar navbar-expand navbar-dark-dodger-blue bg-transparent will-fade-background" id="default-navbar" data-primary>            
            <!-- Navbar toggler -->
            <button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button" data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>
            <!-- Navbar Brand -->
            <a href="/" class="navbar-brand mr-16pt">
                <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
                    <span class="avatar-title rounded bg-primary"><img
                            src="../../assets/images/illustration/student/128/white.svg" alt="logo"
                            class="img-fluid" /></span>
                </span>
                <span class="d-none d-lg-block">Virtual Classroom</span>
            </a>
            <!-- Not logged in Menu Items -->
            {{^isAuthenticated}}
                <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto mr-0">
                    <li class="nav-item">
                        <a href="/login" class="nav-link" data-toggle="tooltip" data-title="Login" data-placement="bottom" data-boundary="window"><i class="material-icons">lock_open</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="btn btn-outline-white">Get Started</a>
                    </li>
                </ul>
            {{/isAuthenticated}}
            <!-- // END Not logged in menu items -->
            <!-- Logged In Menu Items -->
            {{#isAuthenticated}}
                <!-- Notifications dropdown -->
                <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
                <div class="flex"></div>
                <!-- // END Notifications dropdown -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown"
                        data-caret="false">
                        <span class="avatar avatar-sm mr-8pt2">
                            <span class="avatar-title rounded-circle bg-primary"><i
                                    class="material-icons">account_box</i></span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header"><strong>Account</strong></div>
                        <a class="dropdown-item" href="fixed-edit-account.html">Edit Account</a>
                        <a class="dropdown-item" href="/signout">Logout</a>
                    </div>
                </div>
            {{/isAuthenticated}}
            <!-- // END Logged in menu items -->
        </div>
    </div>
</div>