<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Coming Soon</title>
        <!-- Bootstrap core CSS -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="assets/css/cover.css" rel="stylesheet">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="clearfix masthead">
                        <div class="inner">
                            <h3 class="masthead-brand">DC-Virtual-Classroom</h3>
                            <nav class="nav nav-masthead">
                                <a class="active nav-link" href="/">Home</a>
                            </nav>
                        </div>
                    </div>
                    <div class="cover inner">
                        <p class="lead"><br><br><br><br><br></p>
                        <p class="lead"><a href="/" class="btn btn-lg btn-secondary">Home</a><br><br><h1 class="cover-heading">Feature Coming Soon!</h1><p class="lead">We are working very hard to bring you our awesome project!</p></p>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Copyright 2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>