<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {{> header}}
    <title>Log-in Page for DC LMS</title>
</head>

<body class="layout-sticky-subnav layout-default ">

    {{> preloader}}
    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">
    
    <!-- Header -->
        <!-- Header -->
    <div class="mdk-header__content justify-content-center">
        <div class="navbar navbar-expand navbar-dark-dodger-blue" id="default-navbar" data-primary>            
            <!-- Navbar toggler -->
            <button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button" data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>
            <!-- Navbar Brand -->
            <a href="/" class="navbar-brand mr-16pt">
                <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
                    <span class="avatar-title rounded bg-primary"><img
                            src="assets/images/illustration/student/128/white.svg" alt="logo"
                            class="img-fluid" /></span>
                </span>
                <span class="d-none d-lg-block">Virtual Classroom</span>
            </a>
            <!-- Not logged in Menu Items -->
            {{^isAuthenticated}}
                <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto mr-0">
                    <li class="nav-item">
                        <a href="/login" class="nav-link" data-toggle="tooltip" data-title="Login" data-placement="bottom" data-boundary="window"><i class="material-icons">lock_open</i>Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="btn btn-outline-white">Get Started</a>
                    </li>
                </ul>
            {{/isAuthenticated}}
            <!-- // END Not logged in menu items -->
        </div>
    </div>
    <!-- // END Header -->

    <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="pt-32pt pt-sm-64pt pb-32pt">
                <div class="container page__container">
                    <div class="page-headline page-headline--blue page-headline--title text-center">
                        <h2 class="text-blue">Log In</h2>
                    </div>
                    <form action="/login" method="POST" class="col-md-5 p-0 mx-auto">
                        <div class="form-group">
                            <label class="form-label" for="email">Email:</label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="Your email address ...">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Password:</label>
                            <input id="password" name="password" type="password" class="form-control" placeholder="Your password ...">
                            <p class="text-right"><a href="/comingSoon" class="small">Forgot your password?</a></p>
                        </div>
                        {{#message}}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                        {{/message}}
                        <div class="text-center">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- // END Header Layout Content -->

    {{> footer}}

    </div>
    <!-- Start Drawer 
    {{> drawer}} -->
    <!-- Start Drawer -->
        <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
            <div class="mdk-drawer__content">
                <div class="sidebar sidebar-dark-dodger-blue sidebar-left" data-perfect-scrollbar>
                    <a href="fixed-index.html" class="sidebar-brand ">
                        <span class="avatar avatar-xl sidebar-brand-icon h-auto"> <span
                                class="avatar-title rounded bg-primary"><img
                                    src="assets/images/illustration/student/128/white.svg" class="img-fluid"
                                    alt="logo" /></span> </span> <span>Virtual Classroom</span> </a>
                    <div class="sidebar-heading">Applications</div>
                    <ul class="sidebar-menu">
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#student_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">school</span>
                                Student <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="student_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/"> <span
                                            class="sidebar-menu-text">Home</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-paths.html"> <span
                                            class="sidebar-menu-text">Browse Paths</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="student-dashboard"> <span
                                            class="sidebar-menu-text">Student Dashboard</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-paths.html"> <span
                                            class="sidebar-menu-text">My Paths</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-path.html"> <span
                                            class="sidebar-menu-text">Path Details</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="student-take-quiz"> <span
                                            class="sidebar-menu-text">Take Quiz</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="student-quiz-results"> <span
                                            class="sidebar-menu-text">My Quizzes</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="student-quiz-result-details"> <span
                                            class="sidebar-menu-text">Quiz Result</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-path-assessment.html"> <span
                                            class="sidebar-menu-text">Skill Assessment</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-path-assessment-result.html"> <span
                                            class="sidebar-menu-text">Skill Result</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#instructor_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">format_shapes</span>
                                Instructor <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="instructor_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor/instructor-dash"> <span
                                            class="sidebar-menu-text">Instructor Dashboard</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor-courses"> <span
                                            class="sidebar-menu-text">Manage Courses</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor-quizzes"> <span
                                            class="sidebar-menu-text">Manage Quizzes</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor-edit-course"> <span
                                            class="sidebar-menu-text">Edit Course</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor-edit-quiz"> <span
                                            class="sidebar-menu-text">Edit Quiz</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#messaging_menu"> <span
                                    class="material-icons sidebar-menu-icon sidebar-menu-icon--left">message</span>
                                Messaging <span
                                    class="sidebar-menu-badge badge badge-accent badge-notifications ml-auto">2</span> <span
                                    class="sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="messaging_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/comingSoon"> <span
                                            class="sidebar-menu-text">Messages</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/comingSoon"> <span
                                            class="sidebar-menu-text">Email</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#account_menu"> <span
                                    class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                                Account <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="account_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/login"> <span
                                            class="sidebar-menu-text">Login</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/register"> <span
                                            class="sidebar-menu-text">Signup</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/comingSoon"> <span
                                            class="sidebar-menu-text">Reset Password</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/comingSoon"> <span
                                            class="sidebar-menu-text">Change Password</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/comingSoon"> <span
                                            class="sidebar-menu-text">Edit Account</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/comingSoon"> <span
                                            class="sidebar-menu-text">Profile &amp; Privacy</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/comingSoon"> <span
                                            class="sidebar-menu-text">Email Notifications</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/comingSoon"> <span
                                            class="sidebar-menu-text">Account Password</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#community_menu"> <span
                                    class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                                Community <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="community_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-teachers.html"> <span
                                            class="sidebar-menu-text">Browse Teachers</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-profile.html"> <span
                                            class="sidebar-menu-text">Student Profile</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-teacher-profile.html"> <span
                                            class="sidebar-menu-text">Teacher Profile</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-blog.html"> <span
                                            class="sidebar-menu-text">Blog</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-blog-post.html"> <span
                                            class="sidebar-menu-text">Blog Post</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-faq.html"> <span
                                            class="sidebar-menu-text">FAQ</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-help-center.html">
                                        <!--  --> <span class="sidebar-menu-text">Help Center</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-discussions.html"> <span
                                            class="sidebar-menu-text">Discussions</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-discussion.html"> <span
                                            class="sidebar-menu-text">Discussion Details</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-discussions-ask.html"> <span
                                            class="sidebar-menu-text">Ask Question</span> </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    <!-- // END drawer -->


    <!-- // END drawer -->

    <!-- jQuery -->
    <script src="/assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="/assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="/assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="/assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="/assets/vendor/fix-footer.js"></script>

    <!-- App JS -->
    <script src="/assets/js/app.js"></script>

</body>

</html>