<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {{> header}}
    <title>Register for DC LMS</title>
</head>

<body class="layout-sticky-subnav layout-default ">

    {{> preloader}}


    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">
        <!-- Header -->
    <div class="mdk-header__content justify-content-center">
        <div class="navbar navbar-expand navbar-dark-dodger-blue" id="default-navbar" data-primary>            
            <!-- Navbar toggler -->
            <button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button" data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>
            <!-- Navbar Brand -->
            <a href="/" class="navbar-brand mr-16pt">
                <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
                    <span class="avatar-title rounded bg-primary"><img
                            src="assets/images/illustration/student/128/white.svg" alt="logo"
                            class="img-fluid" /></span>
                </span>
                <span class="d-none d-lg-block">Virtual Classroom</span>
            </a>
            <!-- Not logged in Menu Items -->
            {{^isAuthenticated}}
                <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto mr-0">
                    <li class="nav-item">
                        <a href="/login" class="nav-link" data-toggle="tooltip" data-title="Login" data-placement="bottom" data-boundary="window"><i class="material-icons">lock_open</i>Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="btn btn-outline-white">Get Started</a>
                    </li>
                </ul>
            {{/isAuthenticated}}
            <!-- // END Not logged in menu items -->
        </div>
    </div>
        <!-- // END Header -->


        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="page-headline page-headline--blue page-headline--title text-center" style="padding-top: 2rem;">
                <h2 class="text-blue">Register For an Account</h2>
            </div>
            <div class="page-section container page__container" style="justify-content: center;">
                <form action="/register" method="POST">
                    <div class="flex" style="max-width: 100%">
                        <div class="was-validated">
                            <div class="form-row">
                                <div class="col-12 col-md-6 mb-3">
                                    <label class="form-label" for="validationSample01">First name</label>
                                    <input type="text" class="form-control" id="validationSample01" placeholder="First name" value="Mark" name="firstName" required="">
                                    <div class="invalid-feedback">Please provide a first name.</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label class="form-label" for="validationSample02">Last name</label>
                                    <input type="text" class="form-control" id="validationSample02" placeholder="Last name" name="lastName" value="Otto" required="">
                                    <div class="invalid-feedback">Please provide a last name.</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-6 mb-3">
                                    <label class="form-label" for="validationSample03">Email Address</label>
                                    <input type="email" class="form-control" id="validationSample03" placeholder="Email" name="email" required="">
                                    <div class="invalid-feedback">Please provide a valid Email Address</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label class="form-label" for="validationSample04">Password</label>
                                    <input type="password" class="form-control" id="validationSample04" name="password" placeholder="Password" required="">
                                    <div class="invalid-feedback">Please provide a valid password</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                        </div>
                        {{#message}}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                        {{/message}}
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="invalidCheck01" required="" checked="">
                                <label class="custom-control-label" for="invalidCheck01">
                                    Agree to terms and conditions
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>

                    </div>
                </form>
            </div>
        </div>
        <!-- // END Header Layout Content -->

        <!-- Footer Content -->
        {{> footer}}

        <!-- // END Footer Content -->
    </div>
    <!-- // END Header Layout -->
    <!-- drawer -->
    {{> drawer}}
    <!-- // END drawer -->


    <!-- jQuery -->
    <script src="/assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="/assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="/assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="/assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="/assets/vendor/fix-footer.js"></script>

    <!-- App JS -->
    <script src="/assets/js/app.js"></script>
</body>

</html>