<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Meta Tags --> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Fonts --> 
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="../assets/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="../assets/vendor/fix-footer.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="../assets/css/material-icons.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="../assets/css/fontawesome.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="../assets/css/preloader.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="../assets/css/app.css" rel="stylesheet">
    <title>Your Dashboard</title>
</head>
<body class="layout-sticky-subnav layout-default">
    {{> preloader}}
    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->
        {{> headernav-v2}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="pt-32pt">
                <div
                    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Dashboard</h2>
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">
                                    Dashboard
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row" role="tablist">
                        <div class="col-auto">
                            <a href="fixed-instructor-earnings.html" class="btn btn-outline-secondary">Earnings</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section border-bottom-2">
                <div class="container page__container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card border-1 border-left-3 border-left-accent text-center mb-lg-0">
                                <div class="card-body">
                                    <h4 class="h2 mb-0">&dollar;1,569.00</h4>
                                    <div>Earnings this month</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card text-center mb-lg-0">
                                <div class="card-body">
                                    <h4 class="h2 mb-0">&dollar;3,917.80</h4>
                                    <div>Account Balance</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card text-center mb-lg-0">
                                <div class="card-body">
                                    <h4 class="h2 mb-0">&dollar;10,211.50</h4>
                                    <div>Total Sales</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container page__container page-section">
                <div class="page-separator">
                    <div class="page-separator__text">Earnings</div>
                </div>
                <div class="card card-body mb-32pt">
                    <div id="legend" class="chart-legend mt-0 mb-24pt justify-content-start"></div>
                    <div class="chart" style="height: 320px;">
                        <canvas id="earningsChart" class="chart-canvas js-update-chart-bar" data-chart-legend="#legend"
                            data-chart-line-background-color="gradient:primary,gray" data-chart-prefix="$"
                            data-chart-suffix="k"></canvas>
                    </div>
                </div>
                <div class="row mb-8pt">
                    <div class="col-lg-6">
                        <div class="page-separator">
                            <div class="page-separator__text">Transactions</div>
                        </div>
                        <div class="card">
                            <div data-toggle="lists" data-lists-values='[
            "js-lists-values-course", 
            "js-lists-values-document",
            "js-lists-values-amount",
            "js-lists-values-date"
            ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                                <table class="table table-flush table-nowrap">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-course">Course</a>
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-document">Document</a>
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-amount">Amount</a>
                                                <a href="javascript:void(0)" class="sort"
                                                    data-sort="js-lists-values-date">Date</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-nowrap align-items-center">
                                                    <a href="fixed-instructor-edit-course.html"
                                                        class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                                        <img src="assets/images/paths/angular_routing_200x168.png" alt="course"
                                                            class="avatar-img rounded">
                                                        <span class="overlay__content"></span>
                                                    </a>
                                                    <div class="flex">
                                                        <a class="card-title js-lists-values-course"
                                                            href="fixed-instructor-edit-course.html">Angular Routing
                                                            In-Depth</a>
                                                        <small class="text-muted mr-1">
                                                            Invoice
                                                            <a href="fixed-invoice.html" style="color: inherit;"
                                                                class="js-lists-values-document">#8734</a> -
                                                            &dollar;<span class="js-lists-values-amount">89</span> USD
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <small class="text-muted text-uppercase js-lists-values-date">12 Nov
                                                    2018</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-nowrap align-items-center">
                                                    <a href="fixed-instructor-edit-course.html"
                                                        class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                                        <img src="assets/images/paths/angular_testing_200x168.png" alt="course"
                                                            class="avatar-img rounded">
                                                        <span class="overlay__content"></span>
                                                    </a>
                                                    <div class="flex">
                                                        <a class="card-title js-lists-values-course"
                                                            href="fixed-instructor-edit-course.html">Angular Unit Testing</a>
                                                        <small class="text-muted mr-1">
                                                            Invoice
                                                            <a href="fixed-invoice.html" style="color: inherit;"
                                                                class="js-lists-values-document">#8735</a> -
                                                            &dollar;<span class="js-lists-values-amount">89</span> USD
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <small class="text-muted text-uppercase js-lists-values-date">13 Nov
                                                    2018</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-nowrap align-items-center">
                                                    <a href="fixed-instructor-edit-course.html"
                                                        class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                                        <img src="assets/images/paths/typescript_200x168.png" alt="course"
                                                            class="avatar-img rounded">
                                                        <span class="overlay__content"></span>
                                                    </a>
                                                    <div class="flex">
                                                        <a class="card-title js-lists-values-course"
                                                            href="fixed-instructor-edit-course.html">Introduction to
                                                            TypeScript</a>
                                                        <small class="text-muted mr-1">
                                                            Invoice
                                                            <a href="fixed-invoice.html" style="color: inherit;"
                                                                class="js-lists-values-document">#8736</a> -
                                                            &dollar;<span class="js-lists-values-amount">89</span> USD
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <small class="text-muted text-uppercase js-lists-values-date">14 Nov
                                                    2018</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-nowrap align-items-center">
                                                    <a href="fixed-instructor-edit-course.html"
                                                        class="avatar avatar-4by3 overlay overlay--primary mr-12pt">
                                                        <img src="assets/images/paths/angular_200x168.png" alt="course"
                                                            class="avatar-img rounded">
                                                        <span class="overlay__content"></span>
                                                    </a>
                                                    <div class="flex">
                                                        <a class="card-title js-lists-values-course"
                                                            href="fixed-instructor-edit-course.html">Learn Angular
                                                            Fundamentals</a>
                                                        <small class="text-muted mr-1">
                                                            Invoice
                                                            <a href="fixed-invoice.html" style="color: inherit;"
                                                                class="js-lists-values-document">#8737</a> -
                                                            &dollar;<span class="js-lists-values-amount">89</span> USD
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <small class="text-muted text-uppercase js-lists-values-date">15 Nov
                                                    2018</small>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">

                        <div class="page-separator">
                            <div class="page-separator__text">Comments</div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-left mr-12pt">
                                        <a href="#" class="avatar avatar-sm">
                                            <!-- <img src="assets/images/people/110/guy-9.jpg" alt="Guy" class="avatar-img rounded-circle"> -->
                                            <span class="avatar-title rounded-circle">LB</span>
                                        </a>
                                    </div>
                                    <div class="media-body d-flex flex-column">
                                        <div class="d-flex align-items-center">
                                            <a href="fixed-profile.html" class="card-title">Laza Bogdan</a>
                                            <small class="ml-auto text-muted">27 min ago</small><br>
                                        </div>
                                        <span class="text-muted">on <a href="fixed-instructor-edit-course.html" class="text-50"
                                                style="text-decoration: underline;">Data Visualization With Chart.js</a></span>
                                        <p class="mt-1 mb-0 text-70">How can I load Charts on a page?</p>
                                    </div>
                                </div>
                                <div
                                    class="media ml-sm-32pt mt-3 border rounded p-3 bg-light d-inline-flex measure-paragraph-max">
                                    <div class="media-left mr-12pt">
                                        <a href="#" class="avatar avatar-sm">
                                            <!-- <img src="assets/images/people/110/guy-6.jpg" alt="Guy" class="avatar-img rounded-circle"> -->
                                            <span class="avatar-title rounded-circle">FM</span>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="d-flex align-items-center">
                                            <a href="fixed-profile.html" class="card-title">FrontendMatter</a>
                                            <small class="ml-auto text-muted">just now</small>
                                        </div>
                                        <p class="mt-1 mb-0 text-70">Hi Bogdan,<br> Thank you for purchasing our course!
                                            <br><br>Please have a look at the charts library documentation <a href="#"
                                                class="text-underline">here</a> and follow the instructions.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <form action="#" id="message-reply">
                                    <div class="input-group input-group-merge">
                                        <input type="text" class="form-control form-control-appended" required=""
                                            placeholder="Quick Reply">
                                        <div class="input-group-append">
                                            <div class="input-group-text pr-2">
                                                <button class="btn btn-flush" type="button"><i
                                                        class="material-icons">tag_faces</i></button>
                                            </div>
                                            <div class="input-group-text pl-0">
                                                <div class="custom-file custom-file-naked d-flex"
                                                    style="width: 24px; overflow: hidden;">
                                                    <input type="file" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" style="color: inherit;" for="customFile">
                                                        <i class="material-icons">attach_file</i>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-group-text pl-0">
                                                <button class="btn btn-flush" type="button"><i
                                                        class="material-icons">send</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // END Header Layout Content -->

        {{> footer}}

    </div>
    <!-- // END Header Layout -->
    {{> drawer}}

    <!-- jQuery -->
    <script src="../assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="../assets/vendor/popper.min.js"></script>
    <script src="../assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="../assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="../assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="../assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="../assets/vendor/fix-footer.js"></script>

    <!-- App JS -->
    <script src="../assets/js/app.js"></script>

    <!-- Global Settings -->
    <script src="../assets/js/settings.js"></script>

    <!-- Moment.js -->
    <script src="../assets/vendor/moment.min.js"></script>
    <script src="../assets/vendor/moment-range.min.js"></script>

    <!-- Chart.js -->
    <script src="../assets/vendor/Chart.min.js"></script>

    <!-- UI Charts Page JS -->
    <script src="../assets/js/chartjs-rounded-bar.js"></script>
    <script src="../assets/js/chartjs.js"></script>

    <!-- Chart.js Samples -->
    <script src="../assets/js/page.instructor-dashboard.js"></script>

    <!-- List.js -->
    <script src="../assets/vendor/list.min.js"></script>
    <script src="../assets/js/list.js"></script>
</body>
</html>