<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Edit Quiz</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="../../assets/vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="../../assets/vendor/fix-footer.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="../../assets/css/material-icons.css" rel="stylesheet">


    <!-- Font Awesome Icons -->
    <link type="text/css" href="../../assets/css/fontawesome.css" rel="stylesheet">


    <!-- Preloader -->
    <link type="text/css" href="../../assets/css/preloader.css" rel="stylesheet">


    <!-- App CSS -->
    <link type="text/css" href="../../assets/css/app.css" rel="stylesheet">


    <!-- Quill Theme -->
    <link type="text/css" href="../../assets/css/quill.css" rel="stylesheet">

    <!-- Select2 -->
    <link type="text/css" href="../../assets/css/select2.css" rel="stylesheet">

    <link type="text/css" href="../../assets/vendor/select2/select2.min.css" rel="stylesheet">

</head>

<body class="layout-sticky-subnav layout-default ">

    {{> preloader}}

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        {{> headernav-v2}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Edit Quiz</h2>

                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                <li class="breadcrumb-item active">

                                    Edit Quiz

                                </li>

                            </ol>

                        </div>
                    </div>


                </div>
            </div>
            <div class="page-section border-bottom-2">
                <div class="container page__container">
                    <div class="row align-items-start">
                        <div class="col-md-8">
                            <div class="page-separator">
                                <div class="page-separator__text">Quiz Name</div>
                            </div>
                            <form method="POST" action="/instructor/update-title-name/{{id}}">   
                                <input type="text" name="quizName" value="{{quizName}}" placeholder="Quiz Title">
                                <input type="hidden" name="quizId">
                                <button type="submit">Save Title Name</button>
                            </form>
                            <div class="page-separator">
                                <div class="page-separator__text">Questions</div>
                            </div>
                            <ul class="list-group stack mb-40pt">
                                <li class="list-group-item d-flex">
                                    <div class="flex d-flex flex-column">
                                        <div class="card-title text-70 paragraph-max mb-16pt">{{question}}</div>
                                        <div class="page-separator">
                                            <div class="page-separator__text">Answer Choices</div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                {{choice1}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                                {{choice2}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                {{choice3}}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                                {{choice4}}
                                            </label>
                                        </div>
                                        <div>
                                        <div class="page-separator" style="margin-top: 1rem;">
                                            <div class="page-separator__text">Correct Answer</div>
                                        </div>
                                            <form method="POST" action="/instructor/update-quiz-answer/{{id}}">
                                            <div class="form-row align-items-center">
                                                <div class="col-auto my-1">
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="correctAnswer">
                                                    <option selected>{{correct}}</option>
                                                    <option value="1">{{choice1}}</option>
                                                    <option value="2">{{choice2}}</option>
                                                    <option value="3">{{choice3}}</option>
                                                    <option value="4">{{choice4}}</option>
                                                </select>
                                                </div>
                                                <div class="col-auto my-1">
                                                </div>
                                                <div class="col-auto my-1">
                                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Correct Answer</label>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>                       
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_horiz</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="javascript:void(0)" class="dropdown-item">Edit Question</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:void(0)" class="dropdown-item text-danger">Delete Question</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div class="page-separator">
                                <div class="page-separator__text">New Question</div>
                            </div>
                            <div class="card card-body">
                                <form method="POST" action="/instructor/instructor-edit-quiz/{{id}}">   
                                    <div class="form-group">
                                        <label class="form-label">Question</label>
                                        <div style="height: 150px;" class="mb-0" data-toggle="quill" data-quill-placeholder="Question" name="questionField">
                                            An angular 2 project written in typescript is* transpiled to javascript duri*ng the build process. Which of the following additional features are provided to the developer while programming on typescript over javascript?
                                        </div>
                                        <small class="form-text text-muted">Shortly describe the question.</small>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Question Type</label>
                                        <select name="category" class="form-control custom-select">
                                            <option value="vuejs">Multiple Answer</option>
                                            {{! <option value="vuejs">Single Answer</option>
                                            <option value="vuejs">Essay</option> }}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="select01">Answers</label>
                                        <input type="text" class="form-control" placeholder="Quiz Choice A" name="choiceA" required>
                                        <input type="text" class="form-control" placeholder="Quiz Choice B" name="choiceB" required>
                                        <input type="text" class="form-control" placeholder="Quiz Choice C" name="choiceC" required>
                                        <input type="text" class="form-control" placeholder="Quiz Choice D" name="choiceD" required>
                                        <label class="form-label" for="select01">Correct Answer</label>
                                        <input type="text" class="form-control" placeholder="Correct Answer (A, B, C, D)" name="correctAnswer" required>
                                    </div>
                                </form>
                                {{! <div class="form-group">
                                    <label class="form-label" for="select01">Answers</label>
                                    <select id="select01" data-toggle="select" data-tags="true" data-multiple="true" multiple="multiple" class="form-control">
                                        <option selected="">My first option</option>
                                        <option selected="">Another option</option>
                                        <option>Third option is here</option>
                                    </select>
                                </div> }}
                                {{! <div class="form-group">
                                    <label class="form-label">Completion Points</label>
                                    <input type="text" class="form-control" value="1000">
                                </div> }}
                                <div>
                                    <a href="#" class="btn btn-outline-secondary">Add Question</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                        <form method="POST" action="/instructor/instructor-edit-quiz">                            
                            <div class="card">
                                <div class="card-header text-center">
                                    <a href="#" class="btn btn-accent">Save changes</a>
                                </div>
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item d-flex">
                                        <a class="flex" href="#"><strong>Save Draft</strong></a>
                                        <i class="material-icons text-muted">check</i>
                                    </div>
                                    {{! <div class="list-group-item">
                                        <a href="#" class="text-danger"><strong>Delete Quiz</strong></a>
                                    </div> }}
                                </div>
                            </div>
                        </form>
                            <div class="page-separator">
                                <div class="page-separator__text">Courses</div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <label class="form-label">Add to course</label>
                                        <select name="course" id="course" data-toggle="select" data-tags="true" data-multiple="true" multiple="multiple" data-minimum-results-for-search="-1" class="form-control" data-placeholder="Select course ...">
                                            <option data-avatar-src="../../assets/images/paths/angular_40x40@2x.png" selected="">Angular Fundamentals</option>
                                            <option data-avatar-src="../../assets/images/paths/swift_40x40@2x.png">Build an iOS Application in Swift</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




        </div>
        <!-- // END Header Layout Content -->


        {{> footer}}


    </div>
    <!-- // END Header Layout -->

    <!-- Start drawer -->
    {{> drawer}}
    <!-- // END drawer -->


    <!-- jQuery -->
    <script src="../../assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="../../assets/vendor/popper.min.js"></script>
    <script src="../../assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="../../assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="../../assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="../../assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="../../assets/vendor/fix-footer.js"></script>

    <!-- App JS -->
    <script src="../../assets/js/app.js"></script>


    <!-- Quill -->
    <script src="../../assets/vendor/quill.min.js"></script>
    <script src="../../assets/js/quill.js"></script>
    <!-- Select2 -->
    <script src="../../assets/vendor/select2/select2.min.js"></script>
    <script src="../../assets/js/select2.js"></script>

    <!-- Highlight.js -->
    <script src="../../assets/js/hljs.js"></script>

</body>

</html>