<li class="sidebar-menu-item{% if slug === 'teachers' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}teachers.html">
    {% if icons %}<span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">face</span>{% endif %}
    <span class="sidebar-menu-text">Browse Teachers</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'student-profile' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}student-profile.html">
    {% if icons %}<span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>{% endif %}
    <span class="sidebar-menu-text">Student Profile</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'teacher-profile' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}teacher-profile.html">
    {% if icons %}<span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">android</span>{% endif %}
    <span class="sidebar-menu-text">Teacher Profile</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'blog' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}blog.html">
    {% if icons %}<span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">stack</span>{% endif %}
    <span class="sidebar-menu-text">Blog</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'blog-post' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}blog-post.html">
    {% if icons %}<span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">receipt</span>{% endif %}
    <span class="sidebar-menu-text">Blog Post</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'faq' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}faq.html">
    <span class="sidebar-menu-text">FAQ</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'help-center' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}help-center.html">
    <!-- {% if icons %}<span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">help_outline</span>{% endif %} -->
    <span class="sidebar-menu-text">Help Center</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'discussions' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}discussions.html">
    <span class="sidebar-menu-text">Discussions</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'discussion' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}discussion.html">
    <span class="sidebar-menu-text">Discussion Details</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'discussions-ask' %} active{% endif %}">
  <a class="sidebar-menu-button" href="{{ prefix }}discussions-ask.html">
    <span class="sidebar-menu-text">Ask Question</span>
  </a>
</li>