<ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
  <li class="nav-item{% if slug === 'index' %} active{% endif %}">
    <a href="{{ prefix }}index.html" class="nav-link">Home</a>
  </li>
  <li class="nav-item dropdown{% if courses_menu %} active{% endif %}">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Courses</a>
    <div class="dropdown-menu">
      <a href="{{ prefix }}courses.html" class="dropdown-item{% if slug === 'courses' %} active{% endif %}">Browse Courses</a>
      <a href="{{ prefix }}student-course.html" class="dropdown-item{% if slug === 'student-course' %} active{% endif %}">Preview Course</a>
      <a href="{{ prefix }}student-lesson.html" class="dropdown-item{% if slug === 'student-lesson' %} active{% endif %}">Preview Lesson</a>
      <a href="{{ prefix }}student-take-course.html" class="dropdown-item{% if slug === 'student-take-course' %} active{% endif %}"><span class="mr-16pt">Take Course</span> <span class="badge badge-notifications badge-accent text-uppercase ml-auto">Pro</span></a>
      <a href="{{ prefix }}student-take-lesson.html" class="dropdown-item{% if slug === 'student-take-lesson' %} active{% endif %}">Take Lesson</a>
      <a href="{{ prefix }}student-take-quiz.html" class="dropdown-item{% if slug === 'student-take-quiz' %} active{% endif %}">Take Quiz</a>
      <a href="{{ prefix }}student-quiz-result-details.html" class="dropdown-item{% if slug === 'student-quiz-result-details' %} active{% endif %}">Quiz Result</a>
      <a href="{{ prefix }}student-dashboard.html" class="dropdown-item{% if slug === 'student-dashboard' %} active{% endif %}">Student Dashboard</a>
      <a href="{{ prefix }}student-my-courses.html" class="dropdown-item{% if slug === 'student-my-courses' %} active{% endif %}">My Courses</a>
      <a href="{{ prefix }}student-quiz-results.html" class="dropdown-item{% if slug === 'student-quiz-results' %} active{% endif %}">My Quizzes</a>
      <a href="{{ prefix }}help-center.html" class="dropdown-item{% if slug === 'help-center' %} active{% endif %}">Help Center</a>
    </div>
  </li>
  <li class="nav-item dropdown{% if paths_menu %} active{% endif %}">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Paths</a>
    <div class="dropdown-menu">
      <a href="{{ prefix }}paths.html" class="dropdown-item{% if slug === 'paths' %} active{% endif %}">Browse Paths</a>
      <a href="{{ prefix }}student-path.html" class="dropdown-item{% if slug === 'student-path' %} active{% endif %}">Path Details</a>
      <a href="{{ prefix }}student-path-assessment.html" class="dropdown-item{% if slug === 'student-path-assessment' %} active{% endif %}">Skill Assessment</a>
      <a href="{{ prefix }}student-path-assessment-result.html" class="dropdown-item{% if slug === 'student-path-assessment-result' %} active{% endif %}">Skill Result</a>
      <a href="{{ prefix }}student-paths.html" class="dropdown-item{% if slug === 'student-paths' %} active{% endif %}">My Paths</a>
    </div>
  </li>
  <li class="nav-item{% if slug === 'pricing' %} active{% endif %}">
    <a href="{{ prefix }}pricing.html" class="nav-link">Pricing</a>
  </li>
  <li class="nav-item dropdown{% if instructor_menu %} active{% endif %}">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Teachers</a>
    <div class="dropdown-menu">
      <a href="{{ prefix }}instructor-dashboard.html" class="dropdown-item{% if slug === 'instructor-dashboard' %} active{% endif %}">Instructor Dashboard</a>
      <a href="{{ prefix }}instructor-courses.html" class="dropdown-item{% if slug === 'instructor-courses' %} active{% endif %}">Manage Courses</a>
      <a href="{{ prefix }}instructor-quizzes.html" class="dropdown-item{% if slug === 'instructor-quizzes' %} active{% endif %}">Manage Quizzes</a>
      <a href="{{ prefix }}instructor-earnings.html" class="dropdown-item{% if slug === 'instructor-earnings' %} active{% endif %}">Earnings</a>
      <a href="{{ prefix }}instructor-statement.html" class="dropdown-item{% if slug === 'instructor-statement' %} active{% endif %}">Statement</a>
      <a href="{{ prefix }}instructor-edit-course.html" class="dropdown-item{% if slug === 'instructor-edit-course' %} active{% endif %}">Edit Course</a>
      <a href="{{ prefix }}instructor-edit-quiz.html" class="dropdown-item{% if slug === 'instructor-edit-quiz' %} active{% endif %}">Edit Quiz</a>
    </div>
  </li>
  <li class="nav-item dropdown{% if community_menu %} active{% endif %}" data-toggle="tooltip" data-title="Community" data-placement="bottom" data-boundary="window">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
      <i class="material-icons">people_outline</i>
    </a>
    <div class="dropdown-menu">
      <a href="{{ prefix }}teachers.html" class="dropdown-item{% if slug === 'teachers' %} active{% endif %}">Browse Teachers</a>
      <a href="{{ prefix }}student-profile.html" class="dropdown-item{% if slug === 'student-profile' %} active{% endif %}">Student Profile</a>
      <a href="{{ prefix }}teacher-profile.html" class="dropdown-item{% if slug === 'teacher-profile' %} active{% endif %}">Instructor Profile</a>
      <a href="{{ prefix }}blog.html" class="dropdown-item{% if slug === 'blog' %} active{% endif %}">Blog</a>
      <a href="{{ prefix }}blog-post.html" class="dropdown-item{% if slug === 'blog-post' %} active{% endif %}">Blog Post</a>
      <a href="{{ prefix }}faq.html" class="dropdown-item{% if slug === 'faq' %} active{% endif %}">FAQ</a>
      <a href="{{ prefix }}help-center.html" class="dropdown-item{% if slug === 'help-center' %} active{% endif %}">Help Center</a>
      <a href="{{ prefix }}discussions.html" class="dropdown-item{% if slug === 'discussions' %} active{% endif %}">Discussions</a>
      <a href="{{ prefix }}discussion.html" class="dropdown-item{% if slug === 'discussion' %} active{% endif %}">Discussion Details</a>
      <a href="{{ prefix }}discussions-ask.html" class="dropdown-item{% if slug === 'discussions-ask' %} active{% endif %}">Ask Question</a>
    </div>
  </li>
</ul>