<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {{> header}}
    <title>Log-in Page for DC LMS</title>
</head>

<body class="layout-sticky-subnav layout-default ">

    {{> preloader}}
    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">
    
    <!-- Header -->
        <!-- Header -->
        <div id="header" class="mdk-header js-mdk-header mb-0" data-fixed data-effects="">
            <div class="mdk-header__content">
                <div class="navbar navbar-expand navbar-dark-dodger-blue navbar-shadow" id="default-navbar" data-primary>
                    <!-- Navbar toggler -->
                    <button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button" data-toggle="sidebar">
                        <span class="material-icons">short_text</span>
                    </button>
                    <!-- Navbar Brand -->
                    <a href="/" class="navbar-brand mr-16pt">
                        <!-- <img class="navbar-brand-icon" src="assets/images/logo/white-100@2x.png" width="30" alt="Luma"> -->
                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
                            <span class="avatar-title rounded bg-primary"><img
                                    src="../assets/images/illustration/student/128/white.svg" alt="logo"
                                    class="img-fluid" /></span>
                        </span>
                        <span class="d-none d-lg-block">Luma</span>
                    </a>
                    <!-- Not logged in Menu Items -->
                    {{^isAuthenticated}}
                        <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Courses</a>
                                <div class="dropdown-menu">
                                    <a href="fixed-courses.html" class="dropdown-item">Browse Courses</a>
                                    <a href="fixed-student-course.html" class="dropdown-item">Preview Course</a>
                                    <a href="fixed-student-lesson.html" class="dropdown-item">Preview Lesson</a>
                                    <a href="fixed-student-take-course.html" class="dropdown-item"><span class="mr-16pt">Take
                                            Course</span> <span
                                            class="badge badge-notifications badge-accent text-uppercase ml-auto">Pro</span></a>
                                    <a href="fixed-student-take-lesson.html" class="dropdown-item">Take Lesson</a>
                                    <a href="fixed-student-take-quiz.html" class="dropdown-item">Take Quiz</a>
                                    <a href="fixed-student-quiz-result-details.html" class="dropdown-item">Quiz Result</a>
                                    <a href="fixed-student-dashboard.html" class="dropdown-item">Student Dashboard</a>
                                    <a href="fixed-student-my-courses.html" class="dropdown-item">My Courses</a>
                                    <a href="fixed-student-quiz-results.html" class="dropdown-item">My Quizzes</a>
                                    <a href="fixed-help-center.html" class="dropdown-item">Help Center</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Paths</a>
                                <div class="dropdown-menu">
                                    <a href="fixed-paths.html" class="dropdown-item">Browse Paths</a>
                                    <a href="fixed-student-path.html" class="dropdown-item">Path Details</a>
                                    <a href="fixed-student-path-assessment.html" class="dropdown-item">Skill Assessment</a>
                                    <a href="fixed-student-path-assessment-result.html" class="dropdown-item">Skill Result</a>
                                    <a href="fixed-student-paths.html" class="dropdown-item">My Paths</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="fixed-pricing.html" class="nav-link">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Teachers</a>
                                <div class="dropdown-menu">
                                    <a href="fixed-instructor-dashboard.html" class="dropdown-item">Instructor Dashboard</a>
                                    <a href="fixed-instructor-courses.html" class="dropdown-item">Manage Courses</a>
                                    <a href="fixed-instructor-quizzes.html" class="dropdown-item">Manage Quizzes</a>
                                    <a href="fixed-instructor-earnings.html" class="dropdown-item">Earnings</a>
                                    <a href="fixed-instructor-statement.html" class="dropdown-item">Statement</a>
                                    <a href="fixed-instructor-edit-course.html" class="dropdown-item">Edit Course</a>
                                    <a href="fixed-instructor-edit-quiz.html" class="dropdown-item">Edit Quiz</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" data-toggle="tooltip" data-title="Community" data-placement="bottom"
                                data-boundary="window">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                    <i class="material-icons">people_outline</i>
                                </a>
                                <div class="dropdown-menu">
                                    <a href="fixed-teachers.html" class="dropdown-item">Browse Teachers</a>
                                    <a href="fixed-student-profile.html" class="dropdown-item">Student Profile</a>
                                    <a href="fixed-teacher-profile.html" class="dropdown-item">Instructor Profile</a>
                                    <a href="fixed-blog.html" class="dropdown-item">Blog</a>
                                    <a href="fixed-blog-post.html" class="dropdown-item">Blog Post</a>
                                    <a href="fixed-faq.html" class="dropdown-item">FAQ</a>
                                    <a href="fixed-help-center.html" class="dropdown-item">Help Center</a>
                                    <a href="fixed-discussions.html" class="dropdown-item">Discussions</a>
                                    <a href="fixed-discussion.html" class="dropdown-item">Discussion Details</a>
                                    <a href="fixed-discussions-ask.html" class="dropdown-item">Ask Question</a>
                                </div>
                            </li>
                        </ul>
                    {{/isAuthenticated}}
                    <!-- // END Not logged in menu items -->
                    <!-- Logged In Menu Items -->
                    {{#isAuthenticated}}
                        <!-- Search Bar -->
                        <form class="search-form navbar-search d-none d-md-flex mr-16pt" action="fixed-index.html">
                            <button class="btn" type="submit"><i class="material-icons">search</i></button>
                            <input type="text" class="form-control" placeholder="Search ...">
                        </form>
                        <div class="flex"></div>
                        <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">
                            <!-- Notifications dropdown -->
                            <div class="nav-item dropdown dropdown-notifications dropdown-xs-down-full" data-toggle="tooltip"
                                data-title="Messages" data-placement="bottom" data-boundary="window">
                                <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown"
                                    data-caret="false">
                                    <i class="material-icons icon-24pt">mail_outline</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div data-perfect-scrollbar class="position-relative">
                                        <div class="dropdown-header"><strong>Messages</strong></div>
                                        <div class="list-group list-group-flush mb-0">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action unread">
                                                <span class="d-flex align-items-center mb-1">
                                                    <small class="text-black-50">5 minutes ago</small>
                                                    <span class="ml-auto unread-indicator bg-accent"></span>
                                                </span>
                                                <span class="d-flex">
                                                    <span class="avatar avatar-xs mr-2">
                                                        <img src="assets/images/people/110/woman-5.jpg" alt="people"
                                                            class="avatar-img rounded-circle">
                                                    </span>
                                                    <span class="flex d-flex flex-column">
                                                        <strong class="text-black-100">Michelle</strong>
                                                        <span class="text-black-70">Clients loved the new design.</span>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                                <span class="d-flex align-items-center mb-1">
                                                    <small class="text-black-50">5 minutes ago</small>
                                                </span>
                                                <span class="d-flex">
                                                    <span class="avatar avatar-xs mr-2">
                                                        <img src="assets/images/people/110/woman-5.jpg" alt="people"
                                                            class="avatar-img rounded-circle">
                                                    </span>
                                                    <span class="flex d-flex flex-column">
                                                        <strong class="text-black-100">Michelle</strong>
                                                        <span class="text-black-70">🔥 Superb job..</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // END Notifications dropdown -->
                            <!-- Notifications dropdown -->
                            <div class="nav-item ml-16pt dropdown dropdown-notifications dropdown-xs-down-full"
                                data-toggle="tooltip" data-title="Notifications" data-placement="bottom" data-boundary="window">
                                <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown"
                                    data-caret="false">
                                    <i class="material-icons">notifications_none</i>
                                    <span class="badge badge-notifications badge-accent">2</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div data-perfect-scrollbar class="position-relative">
                                        <div class="dropdown-header"><strong>System notifications</strong></div>
                                        <div class="list-group list-group-flush mb-0">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action unread">
                                                <span class="d-flex align-items-center mb-1">
                                                    <small class="text-black-50">3 minutes ago</small>
                                                    <span class="ml-auto unread-indicator bg-accent"></span>
                                                </span>
                                                <span class="d-flex">
                                                    <span class="avatar avatar-xs mr-2">
                                                        <span class="avatar-title rounded-circle bg-light">
                                                            <i class="material-icons font-size-16pt text-accent">account_circle</i>
                                                        </span>
                                                    </span>
                                                    <span class="flex d-flex flex-column">
                                                        <span class="text-black-70">Your profile information has not been synced
                                                            correctly.</span>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                                <span class="d-flex align-items-center mb-1">
                                                    <small class="text-black-50">5 hours ago</small>
                                                </span>
                                                <span class="d-flex">
                                                    <span class="avatar avatar-xs mr-2">
                                                        <span class="avatar-title rounded-circle bg-light">
                                                            <i class="material-icons font-size-16pt text-primary">group_add</i>
                                                        </span>
                                                    </span>
                                                    <span class="flex d-flex flex-column">
                                                        <strong class="text-black-100">Adrian. D</strong>
                                                        <span class="text-black-70">Wants to join your private group.</span>
                                                    </span>
                                                </span>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                                <span class="d-flex align-items-center mb-1">
                                                    <small class="text-black-50">1 day ago</small>
                                                </span>
                                                <span class="d-flex">
                                                    <span class="avatar avatar-xs mr-2">
                                                        <span class="avatar-title rounded-circle bg-light">
                                                            <i class="material-icons font-size-16pt text-warning">storage</i>
                                                        </span>
                                                    </span>
                                                    <span class="flex d-flex flex-column">

                                                        <span class="text-black-70">Your deploy was successful.</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // END Notifications dropdown -->
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown"
                                    data-caret="false">
                                    <span class="avatar avatar-sm mr-8pt2">
                                        <span class="avatar-title rounded-circle bg-primary"><i
                                                class="material-icons">account_box</i></span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header"><strong>Account</strong></div>
                                    <a class="dropdown-item" href="fixed-edit-account.html">Edit Account</a>
                                    <a class="dropdown-item" href="fixed-billing.html">Billing</a>
                                    <a class="dropdown-item" href="fixed-billing-history.html">Payments</a>
                                    <a class="dropdown-item" href="fixed-login.html">Logout</a>
                                </div>
                            </div>
                        <ul class="nav navbar-nav ml-auto mr-0">
                            <li class="nav-item">
                                <a href="fixed-login.html" class="nav-link" data-toggle="tooltip" data-title="Login"
                                    data-placement="bottom" data-boundary="window"><i class="material-icons">lock_open</i></a>
                            </li>
                            <li class="nav-item active">
                                <a href="fixed-signup.html" class="btn btn-outline-white">Get Started</a>
                            </li>
                        </ul>
                    {{/isAuthenticated}}
                    <!-- // END Logged in menu items -->
                    </div>
                </div>
            </div>
        </div>
    <!-- // END Header -->

    <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="pt-32pt pt-sm-64pt pb-32pt">
                <div class="container page__container">
                    <div class="page-headline page-headline--blue page-headline--title text-center">
                        <h2 class="text-blue">Log In</h2>
                    </div>
                    <form action="/login" method="POST" class="col-md-5 p-0 mx-auto">
                        <div class="form-group">
                            <label class="form-label" for="email">Email:</label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="Your email address ...">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Password:</label>
                            <input id="password" name="password" type="password" class="form-control" placeholder="Your password ...">
                            <p class="text-right"><a href="fixed-reset-password.html" class="small">Forgot your password?</a></p>
                        </div>
                        {{#message}}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                        {{/message}}
                        <div class="text-center">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- // END Header Layout Content -->

    {{> footer}}

    </div>
    <!-- Start Drawer 
    {{> drawer}} -->
    <!-- Start Drawer -->
        <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
            <div class="mdk-drawer__content">
                <div class="sidebar sidebar-dark-dodger-blue sidebar-left" data-perfect-scrollbar>
                    <a href="fixed-index.html" class="sidebar-brand ">
                        <span class="avatar avatar-xl sidebar-brand-icon h-auto"> <span
                                class="avatar-title rounded bg-primary"><img
                                    src="assets/images/illustration/student/128/white.svg" class="img-fluid"
                                    alt="logo" /></span> </span> <span>Luma</span> </a>
                    <div class="sidebar-heading">Applications</div>
                    <ul class="sidebar-menu">
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#student_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">school</span>
                                Student <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="student_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/"> <span
                                            class="sidebar-menu-text">Home</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-paths.html"> <span
                                            class="sidebar-menu-text">Browse Paths</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="student-dashboard"> <span
                                            class="sidebar-menu-text">Student Dashboard</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-paths.html"> <span
                                            class="sidebar-menu-text">My Paths</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-path.html"> <span
                                            class="sidebar-menu-text">Path Details</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="student-take-quiz"> <span
                                            class="sidebar-menu-text">Take Quiz</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="student-quiz-results"> <span
                                            class="sidebar-menu-text">My Quizzes</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="student-quiz-result-details"> <span
                                            class="sidebar-menu-text">Quiz Result</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-path-assessment.html"> <span
                                            class="sidebar-menu-text">Skill Assessment</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-path-assessment-result.html"> <span
                                            class="sidebar-menu-text">Skill Result</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button js-sidebar-collapse" data-toggle="collapse" href="#instructor_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">format_shapes</span>
                                Instructor <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="instructor_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor/instructor-dash"> <span
                                            class="sidebar-menu-text">Instructor Dashboard</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor-courses"> <span
                                            class="sidebar-menu-text">Manage Courses</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor-quizzes"> <span
                                            class="sidebar-menu-text">Manage Quizzes</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor-edit-course"> <span
                                            class="sidebar-menu-text">Edit Course</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/instructor-edit-quiz"> <span
                                            class="sidebar-menu-text">Edit Quiz</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#messaging_menu"> <span
                                    class="material-icons sidebar-menu-icon sidebar-menu-icon--left">message</span>
                                Messaging <span
                                    class="sidebar-menu-badge badge badge-accent badge-notifications ml-auto">2</span> <span
                                    class="sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="messaging_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-messages.html"> <span
                                            class="sidebar-menu-text">Messages</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-email.html"> <span
                                            class="sidebar-menu-text">Email</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#account_menu"> <span
                                    class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                                Account <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="account_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-login.html"> <span
                                            class="sidebar-menu-text">Login</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-signup.html"> <span
                                            class="sidebar-menu-text">Signup</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-reset-password.html"> <span
                                            class="sidebar-menu-text">Reset Password</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-change-password.html"> <span
                                            class="sidebar-menu-text">Change Password</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-edit-account.html"> <span
                                            class="sidebar-menu-text">Edit Account</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-edit-account-profile.html"> <span
                                            class="sidebar-menu-text">Profile &amp; Privacy</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-edit-account-notifications.html"> <span
                                            class="sidebar-menu-text">Email Notifications</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-edit-account-password.html"> <span
                                            class="sidebar-menu-text">Account Password</span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" data-toggle="collapse" href="#community_menu"> <span
                                    class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                                Community <span class="ml-auto sidebar-menu-toggle-icon"></span> </a>
                            <ul class="sidebar-submenu collapse sm-indent" id="community_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-teachers.html"> <span
                                            class="sidebar-menu-text">Browse Teachers</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-student-profile.html"> <span
                                            class="sidebar-menu-text">Student Profile</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-teacher-profile.html"> <span
                                            class="sidebar-menu-text">Teacher Profile</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-blog.html"> <span
                                            class="sidebar-menu-text">Blog</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-blog-post.html"> <span
                                            class="sidebar-menu-text">Blog Post</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-faq.html"> <span
                                            class="sidebar-menu-text">FAQ</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-help-center.html">
                                        <!--  --> <span class="sidebar-menu-text">Help Center</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-discussions.html"> <span
                                            class="sidebar-menu-text">Discussions</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-discussion.html"> <span
                                            class="sidebar-menu-text">Discussion Details</span> </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="fixed-discussions-ask.html"> <span
                                            class="sidebar-menu-text">Ask Question</span> </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    <!-- // END drawer -->


    <!-- // END drawer -->

    <!-- jQuery -->
    <script src="/assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="/assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="/assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="/assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="/assets/vendor/fix-footer.js"></script>

    <!-- App JS -->
    <script src="/assets/js/app.js"></script>

</body>

</html>