<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {{> header}}
    <title>Register for DC LMS</title>
</head>

<body class="layout-sticky-subnav layout-default ">

    {{> preloader}}


    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">
        <!-- Header -->
        <div id="header" class="mdk-header js-mdk-header mb-0" data-fixed data-effects="">
            <div class="mdk-header__content">
            <div id="header" class="mdk-header js-mdk-header mb-0" data-fixed data-effects="">
                <div class="mdk-header__content">
                    <div class="navbar navbar-expand pr-0 navbar-dark-dodger-blue navbar-shadow" id="default-navbar" data-primary>
                        <!-- Navbar toggler -->
                        <button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button" data-toggle="sidebar">
                            <span class="material-icons">short_text</span>
                        </button>
                        <!-- Navbar Brand -->
                        <a href="fixed-index.html" class="navbar-brand mr-16pt"> <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt"> <span class="avatar-title rounded bg-primary"><img src="assets/images/illustration/student/128/white.svg" alt="logo" class="img-fluid"/></span> </span> <span class="d-none d-lg-block">Luma</span> </a>
                        <form class="search-form navbar-search d-none d-md-flex mr-16pt" action="fixed-index.html">
                            <button class="btn" type="submit">
                                <i class="material-icons">search</i>
                            </button>
                            <input type="text" class="form-control" placeholder="Search ...">
                        </form>
                        <div class="flex"></div>
                        <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">
                            <!-- Notifications dropdown -->
                            <div class="nav-item dropdown dropdown-notifications dropdown-xs-down-full" data-toggle="tooltip" data-title="Messages" data-placement="bottom" data-boundary="window">
                                <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown" data-caret="false">
                                    <i class="material-icons icon-24pt">mail_outline</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div data-perfect-scrollbar class="position-relative">
                                        <div class="dropdown-header">
                                            <strong>Messages</strong>
                                        </div>
                                        <div class="list-group list-group-flush mb-0">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action unread"> <span class="d-flex align-items-center mb-1"> <small class="text-black-50">5 minutes ago</small> <span class="ml-auto unread-indicator bg-accent"></span> </span> <span class="d-flex"> <span class="avatar avatar-xs mr-2"> <img src="assets/images/people/110/woman-5.jpg" alt="people" class="avatar-img rounded-circle"> </span> <span class="flex d-flex flex-column"> <strong class="text-black-100">Michelle</strong> <span class="text-black-70">Clients loved the new design.</span> </span> </span> </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action"> <span class="d-flex align-items-center mb-1"> <small class="text-black-50">5 minutes ago</small> </span> <span class="d-flex"> <span class="avatar avatar-xs mr-2"> <img src="assets/images/people/110/woman-5.jpg" alt="people" class="avatar-img rounded-circle"> </span> <span class="flex d-flex flex-column"> <strong class="text-black-100">Michelle</strong> <span class="text-black-70">🔥 Superb job..</span> </span> </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // END Notifications dropdown -->
                            <!-- Notifications dropdown -->
                            <div class="nav-item ml-16pt dropdown dropdown-notifications dropdown-xs-down-full" data-toggle="tooltip" data-title="Notifications" data-placement="bottom" data-boundary="window">
                                <button class="nav-link btn-flush dropdown-toggle" type="button" data-toggle="dropdown" data-caret="false">
                                    <i class="material-icons">notifications_none</i>
                                    <span class="badge badge-notifications badge-accent">2</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div data-perfect-scrollbar class="position-relative">
                                        <div class="dropdown-header">
                                            <strong>System notifications</strong>
                                        </div>
                                        <div class="list-group list-group-flush mb-0">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action unread"> <span class="d-flex align-items-center mb-1"> <small class="text-black-50">3 minutes ago</small> <span class="ml-auto unread-indicator bg-accent"></span> </span> <span class="d-flex"> <span class="avatar avatar-xs mr-2"> <span class="avatar-title rounded-circle bg-light"> <i class="material-icons font-size-16pt text-accent">account_circle</i> </span> </span> <span class="flex d-flex flex-column"> <span class="text-black-70">Your profile information has not been synced correctly.</span> </span> </span> </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action"> <span class="d-flex align-items-center mb-1"> <small class="text-black-50">5 hours ago</small> </span> <span class="d-flex"> <span class="avatar avatar-xs mr-2"> <span class="avatar-title rounded-circle bg-light"> <i class="material-icons font-size-16pt text-primary">group_add</i> </span> </span> <span class="flex d-flex flex-column"> <strong class="text-black-100">Adrian. D</strong> <span class="text-black-70">Wants to join your private group.</span> </span> </span> </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action"> <span class="d-flex align-items-center mb-1"> <small class="text-black-50">1 day ago</small> </span> <span class="d-flex"> <span class="avatar avatar-xs mr-2"> <span class="avatar-title rounded-circle bg-light"> <i class="material-icons font-size-16pt text-warning">storage</i> </span> </span> <span class="flex d-flex flex-column"> <span class="text-black-70">Your deploy was successful.</span> </span> </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // END Notifications dropdown -->
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" data-caret="false"> <span class="avatar avatar-sm mr-8pt2"> <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span> </span> </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header">
                                        <strong>Account</strong>
                                    </div>
                                    <a class="dropdown-item" href="fixed-edit-account.html">Edit Account</a>
                                    <a class="dropdown-item" href="fixed-billing.html">Billing</a>
                                    <a class="dropdown-item" href="fixed-billing-history.html">Payments</a>
                                    <a class="dropdown-item" href="fixed-login.html">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- // END Header -->


        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="py-32pt navbar-submenu">
                <div class="container page__container">
                    <div class="progression-bar progression-bar--active-accent">
                        <a href="pricing.html" class="progression-bar__item progression-bar__item--complete">
                            <span class="progression-bar__item-content">
                                <i class="material-icons progression-bar__item-icon">done</i>
                                <span class="progression-bar__item-text h5 mb-0 text-uppercase">Pricing</span>
                            </span>
                        </a>
                        <a href="fixed-signup.html" class="progression-bar__item progression-bar__item--complete progression-bar__item--active">
                            <span class="progression-bar__item-content">
                                <i class="material-icons progression-bar__item-icon"></i>
                                <span class="progression-bar__item-text h5 mb-0 text-uppercase">Account details</span>
                            </span>
                        </a>
                        <a href="fixed-signup-payment.html" class="progression-bar__item">
                            <span class="progression-bar__item-content">
                                <i class="material-icons progression-bar__item-icon"></i>
                                <span class="progression-bar__item-text h5 mb-0 text-uppercase">Payment details</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-section container page__container">
                <div class="col-lg-10 p-0 mx-auto">
                    <div class="row">
                        <div class="col-md-6 mb-24pt mb-md-0">
                            <form action="/register" method="POST">
                                <div class="form-group">
                                    <label class="form-label" for="name">Your first and last name:</label>
                                    <input id="name" type="text" name="fullName"class="form-control" placeholder="Your first and last name ...">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="email">Your email:</label>
                                    <input id="email" name="email" type="email" class="form-control" placeholder="Your email address ...">
                                </div>
                                <div class="form-group mb-24pt">
                                    <label class="form-label" for="password">Password:</label>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="Your password ...">
                                </div>
                                <button class="btn btn-primary">Create account</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <h5>Purchase summary</h5>
                                    <div class="d-flex mb-8pt">
                                        <div class="flex"><strong class="text-70">Subscription</strong></div>
                                        <strong>Student</strong>
                                    </div>

                                    <div class="alert alert-soft-warning">
                                        <div class="d-flex flex-wrap align-items-start">
                                            <div class="mr-8pt">
                                                <i class="material-icons">check</i>
                                            </div>
                                            <div class="flex" style="min-width: 180px">
                                                <small class="text-black-100">
                                                    Access to over 1.000 high quality courses. <strong>For individuals.</strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-16pt pb-16pt border-bottom">
                                        <div class="flex"><strong class="text-70">Price</strong></div>
                                        <strong>US &dollar;9 per month</strong>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" checked id="topic-all">
                                        <label class="custom-control-label">Terms and conditions</label>
                                        <small class="form-text text-muted">By checking here and continuing, I agree to the Luma Terms of Use</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-separator justify-content-center m-0">
                <div class="page-separator__text">or sign-in with</div>
            </div>
            <div class="page-section text-center">
                <div class="container page__container">
                    <a href="fixed-signup-payment.html" class="btn btn-secondary btn-block-xs">Facebook</a>
                    <a href="fixed-signup-payment.html" class="btn btn-secondary btn-block-xs">Twitter</a>
                    <a href="fixed-signup-payment.html" class="btn btn-secondary btn-block-xs">Google+</a>
                </div>
            </div>





        </div>
        <!-- // END Header Layout Content -->

        <!-- Footer Content -->
        {{> footer}}

        <!-- // END Footer Content -->
    </div>
    <!-- // END Header Layout -->
   <!-- drawer -->
    {{> drawer}}
    <!-- // END drawer -->


        <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>
</body>

</html>