<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {{> header}}
    <title>Register for DC LMS</title>
</head>

<body class="layout-sticky-subnav layout-default ">

    {{> preloader}}


    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">
        <!-- Header -->
        <div id="header" class="mdk-header js-mdk-header mb-0" data-fixed data-effects="">
            <div class="mdk-header__content">



                <div class="navbar navbar-expand navbar-dark-dodger-blue navbar-shadow" id="default-navbar" data-primary>

                    <!-- Navbar toggler -->
                    <button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button" data-toggle="sidebar">
                        <span class="material-icons">short_text</span>
                    </button>

                    <!-- Navbar Brand -->
                    <a href="fixed-index.html" class="navbar-brand mr-16pt">
                        <!-- <img class="navbar-brand-icon" src="assets/images/logo/white-100@2x.png" width="30" alt="Luma"> -->

                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                            <span class="avatar-title rounded bg-primary"><img src="assets/images/illustration/student/128/white.svg" alt="logo" class="img-fluid" /></span>

                        </span>

                        <span class="d-none d-lg-block">Luma</span>
                    </a>

                    <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                        <li class="nav-item">
                            <a href="fixed-index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Courses</a>
                            <div class="dropdown-menu">
                                <a href="fixed-courses.html" class="dropdown-item">Browse Courses</a>
                                <a href="fixed-student-course.html" class="dropdown-item">Preview Course</a>
                                <a href="fixed-student-lesson.html" class="dropdown-item">Preview Lesson</a>
                                <a href="fixed-student-take-course.html" class="dropdown-item"><span class="mr-16pt">Take Course</span> <span class="badge badge-notifications badge-accent text-uppercase ml-auto">Pro</span></a>
                                <a href="fixed-student-take-lesson.html" class="dropdown-item">Take Lesson</a>
                                <a href="fixed-student-take-quiz.html" class="dropdown-item">Take Quiz</a>
                                <a href="fixed-student-quiz-result-details.html" class="dropdown-item">Quiz Result</a>
                                <a href="fixed-student-dashboard.html" class="dropdown-item">Student Dashboard</a>
                                <a href="fixed-student-my-courses.html" class="dropdown-item">My Courses</a>
                                <a href="fixed-student-quiz-results.html" class="dropdown-item">My Quizzes</a>
                                <a href="fixed-help-center.html" class="dropdown-item">Help Center</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Paths</a>
                            <div class="dropdown-menu">
                                <a href="fixed-paths.html" class="dropdown-item">Browse Paths</a>
                                <a href="fixed-student-path.html" class="dropdown-item">Path Details</a>
                                <a href="fixed-student-path-assessment.html" class="dropdown-item">Skill Assessment</a>
                                <a href="fixed-student-path-assessment-result.html" class="dropdown-item">Skill Result</a>
                                <a href="fixed-student-paths.html" class="dropdown-item">My Paths</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="fixed-pricing.html" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Teachers</a>
                            <div class="dropdown-menu">
                                <a href="fixed-instructor-dashboard.html" class="dropdown-item">Instructor Dashboard</a>
                                <a href="fixed-instructor-courses.html" class="dropdown-item">Manage Courses</a>
                                <a href="fixed-instructor-quizzes.html" class="dropdown-item">Manage Quizzes</a>
                                <a href="fixed-instructor-earnings.html" class="dropdown-item">Earnings</a>
                                <a href="fixed-instructor-statement.html" class="dropdown-item">Statement</a>
                                <a href="fixed-instructor-edit-course.html" class="dropdown-item">Edit Course</a>
                                <a href="fixed-instructor-edit-quiz.html" class="dropdown-item">Edit Quiz</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" data-toggle="tooltip" data-title="Community" data-placement="bottom" data-boundary="window">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                <i class="material-icons">people_outline</i>
                            </a>
                            <div class="dropdown-menu">
                                <a href="fixed-teachers.html" class="dropdown-item">Browse Teachers</a>
                                <a href="fixed-student-profile.html" class="dropdown-item">Student Profile</a>
                                <a href="fixed-teacher-profile.html" class="dropdown-item">Instructor Profile</a>
                                <a href="fixed-blog.html" class="dropdown-item">Blog</a>
                                <a href="fixed-blog-post.html" class="dropdown-item">Blog Post</a>
                                <a href="fixed-faq.html" class="dropdown-item">FAQ</a>
                                <a href="fixed-help-center.html" class="dropdown-item">Help Center</a>
                                <a href="fixed-discussions.html" class="dropdown-item">Discussions</a>
                                <a href="fixed-discussion.html" class="dropdown-item">Discussion Details</a>
                                <a href="fixed-discussions-ask.html" class="dropdown-item">Ask Question</a>
                            </div>
                        </li>
                    </ul>








                    <ul class="nav navbar-nav ml-auto mr-0">
                        <li class="nav-item">
                            <a href="fixed-login.html" class="nav-link" data-toggle="tooltip" data-title="Login" data-placement="bottom" data-boundary="window"><i class="material-icons">lock_open</i></a>
                        </li>
                        <li class="nav-item active">
                            <a href="fixed-signup.html" class="btn btn-outline-white">Get Started</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- // END Header -->


        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="page-headline page-headline--blue page-headline--title text-center">
                <h2 class="text-blue">Register For an Account</h2>
            </div>
            <div class="page-section container page__container" style="justify-content: center;">
                <div class="col-lg-10 p-0 mx-auto">
                    <div class="row" style="justify-content: center;">
                        <div class="col-lg-8 d-flex align-items-center">
                            <form action="/register" method="POST">
                                <div class="flex" style="max-width: 100%">
                                    <div class="was-validated">
                                        <div class="form-row">
                                            <div class="col-12 col-md-6 mb-3">
                                                <label class="form-label" for="validationSample01">First name</label>
                                                <input type="text" class="form-control" id="validationSample01" placeholder="First name" value="Mark" name="firstName" required="">
                                                <div class="invalid-feedback">Please provide a first name.</div>
                                                <div class="valid-feedback">Looks good!</div>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <label class="form-label" for="validationSample02">Last name</label>
                                                <input type="text" class="form-control" id="validationSample02" placeholder="Last name" name="lastName" value="Otto" required="">
                                                <div class="invalid-feedback">Please provide a last name.</div>
                                                <div class="valid-feedback">Looks good!</div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-md-6 mb-3">
                                                <label class="form-label" for="validationSample03">Email Address</label>
                                                <input type="email" class="form-control" id="validationSample03" placeholder="Email" name="email" required="">
                                                <div class="invalid-feedback">Please provide a valid Email Address</div>
                                                <div class="valid-feedback">Looks good!</div>
                                            </div>
                                            <div class="col-12 col-md-6 mb-3">
                                                <label class="form-label" for="validationSample04">Password</label>
                                                <input type="password" class="form-control" id="validationSample04" name="password" placeholder="Password" required="">
                                                <div class="invalid-feedback">Please provide a valid password</div>
                                                <div class="valid-feedback">Looks good!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" value="" id="invalidCheck01" required="" checked="">
                                            <label class="custom-control-label" for="invalidCheck01">
                                                Agree to terms and conditions
                                            </label>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Submit</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // END Header Layout Content -->

        <!-- Footer Content -->
        {{> footer}}

        <!-- // END Footer Content -->
    </div>
    <!-- // END Header Layout -->
    <!-- drawer -->
    {{> drawer}}
    <!-- // END drawer -->


    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>
</body>

</html>