<div class="page-section {{ blog_alt_bg or alt_bg }} border-bottom-2">
  <div class="{{ containerClass }}">

    <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start flex mb-16pt text-center text-md-left">
      {% include 'pages/_blog-post.heading.html' %}
    </div>

  </div>
</div>

<div class="page-section border-bottom-2">
  <div class="{{ containerClass }}">

    {% include 'partials/_blog-post.html' %}

  </div>
</div>

<div class="page-section {{ alt_bg }}">
  <div class="{{ containerClass or 'container' }}">
    {% include 'pages/_feedback.html' %}
  </div>
</div>