{% import 'components/avatar.html' as avatar %}

<div class="navbar navbar-expand {{ navbar_class or '' }}" id="default-navbar" data-primary>
  <div class="{{ navbarContainerClass }}">

    <!-- Navbar Brand -->
    <a href="{{ prefix }}index.html" class="navbar-brand mr-16pt">
      {{ avatar.component(title='<img src="assets/images/illustration/student/128/white.svg" alt="logo" class="img-fluid" />', size='sm', class='navbar-brand-icon mr-0 mr-lg-8pt', title_class='bg-primary', circle=false, element='span') }}
      <span class="d-none d-lg-block">{{ brand }}</span>
    </a>

    <!-- Navbar toggler -->
    <button class="navbar-toggler w-auto mr-16pt d-block rounded-0" type="button" data-toggle="sidebar">
      <span class="material-icons">short_text</span>
    </button>

    {% include 'layouts/_navbar.menu.html' %}

    {% if navbar_search !== false %}
    <form class="search-form form-control-rounded navbar-search d-none d-lg-flex mr-16pt" action="{{ prefix }}index.html" style="max-width: 230px">
      <button class="btn" type="submit"><i class="material-icons">search</i></button>
      <input type="text" class="form-control" placeholder="Search ...">
    </form>
    {% endif %}

    {% set cta_class = 'btn-outline-secondary' %}
    {% if 'dark' in navbar_class %}
      {% set cta_class = 'btn-outline-white' %}
    {% endif %}

    {% if guest %}
    <ul class="nav navbar-nav ml-auto mr-0">
      <li class="nav-item{% if slug === 'login' %} active{% endif %}">
        <a href="{{ prefix }}login.html" class="nav-link" data-toggle="tooltip" data-title="Login" data-placement="bottom" data-boundary="window"><i class="material-icons">lock_open</i></a>
      </li>
      <li class="nav-item{% if 'signup' in slug %} active{% endif %}">
        <a href="{{ prefix }}signup.html" class="btn {{ cta_class }}">Get Started</a>
      </li>
    </ul>
    {% else %}
    <div class="nav navbar-nav ml-auto mr-0 flex-nowrap d-flex">
      {% include "layouts/_navbar.messages.html" %}
      {% include "layouts/_navbar.notifications.html" %}
      {% include "layouts/_navbar.account-dropdown.html" %}
    </div>
    {% endif %}
  </div>
</div>