{% set layout = layout or 'app' %}
{% set footer = false %}
{% set bodyClass = bodyClass or 'sub-layout' %}

{% if results_sidebar_toggle !== false %}
  {% set results_sidebar_toggle = results_sidebar_toggle or 'mobile' %}
{% endif %}

{% extends 'layouts/' + layout + '.html' %}
{% import 'layouts/_' + sub_layout_drawer_file as drawer %}

{% block page %}
<div
  data-push 
  data-responsive-width="992px"
  data-has-scrolling-region
  data-fullbleed
  class="mdk-drawer-layout js-mdk-drawer-layout">
  <div class="mdk-drawer-layout__content" data-perfect-scrollbar>
    {{ super() }}
  </div>
  
  {{ drawer.component(class='sub-layout-drawer') }}
</div>
{% endblock %}